<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="card">
      <div class="card-header">News Trends</div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Topic</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of datanewstrend">
                <td>
                  <a
                    (click)="clicktopic(data)"
                    style="cursor: pointer; color: blue;"
                  >
                    {{ data.name }}
                  </a>
                </td>
                <td>{{ data.weight }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  bsModal
  #showArticlesModaltopic="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p>
          Articles List
        </p>
        <button
          type="button"
          class="close"
          (click)="showArticlesModaltopic.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div
            class="container article"
            *ngIf="articlesList.data?.length > 0"
            style="overflow-y: scroll; height: 400px; overflow-x: hidden;"
          >
            <div class="col-md-12" *ngFor="let article of articlesList.data">
              <button
                class="btn btn-block btn-link"
                type="button"
                style="word-wrap: break-word; text-align: justify;"
                (click)="showSearchModaltopic(article)"
              >
                <h4>{{ article.title }}</h4>
              </button>
              <div class="col-md-12" style="text-align: justify;">
                <p>
                  <small> {{ article.date | date: "dd-MMMM-yyyy" }}</small>
                </p>
              </div>
              <hr />
            </div>
          </div>
          <div *ngIf="articlesList.data?.length > 0">
            <div class="col-md-12" style="text-align: right;">
              Total article found :
              {{
                articlesList.recordsTotal
                  ? articlesList.recordsTotal
                  : articlesList.total
              }}
            </div>
            <div class="row">
              <div class="col-md-12">
                <pagination
                  id="topic"
                  [totalItems]="articlesList.total"
                  [(ngModel)]="currentPagetopic"
                  (pageChanged)="pageChangedtopic($event)"
                ></pagination>
              </div>
            </div>
          </div>
          <div
            class="infinite-container"
            style="margin-top: 10%;"
            *ngIf="articlesList.data?.length == 0"
          >
            <div class="col-md-12">
              <h3 style="text-align: center;">No Articles found!</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-ArticleDetails #searchModalContainer></app-ArticleDetails>