
<div class="animated fadeIn">
  <!-- <ng-progress></ng-progress> -->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div *ngFor="let alert of alerts">
            <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
          </div>
          <div class="row align-items-center mt-3">
            <div class="col col-lg-3">
              <input type="text" class="form-control form-control-sm" placeholder="Search.." name="searchInput"
                [(ngModel)]="searchModel">
            </div>
            <div class="col col-lg-3">
              <select id="searchFieldSelect" name="searchFieldSelect" class="form-control form-control-sm" [(ngModel)]="searchFieldModel">
                <option value="title">Title</option>
                <option value="content">Content</option>
              </select>
            </div>
            <div class="col col-lg-3">
              <select class="form-control form-control-sm" [(ngModel)]="mediaCategoryModel">
                <option *ngFor="let Opsi of mediaCategoryOption" [value]="Opsi.key">
                  {{Opsi.value}}
                </option>
              </select>
            </div>
            <div class="col col-lg-3">
              <button type="button" class="btn btn-primary px-4" (click)="clickSearch()">Search</button>
            </div>
          </div>
          <br>
          <div class="container">
            <div class="container article" style="overflow-y:scroll;height:400px;overflow-x: hidden;" *ngIf="articlesFound.results?.length > 0">
              <div class="col-md-12" *ngFor="let article of articlesFound.results">
                <button class="btn btn-block btn-link" type="button" (click)="showSearchModal(article)" style="width:auto">
                  <h4>{{article.title}}</h4>
                </button>
                <div class="col-md-12" style="text-align:justify;">
                  {{article.content | slice:0:150}}
                  <p>
                    <small>{{article.media_name}} / {{article.datee | date: 'dd-MMMM-yyyy'}}</small>
                  </p>
                </div>
                <hr>
              </div>                            
            </div>
            <div *ngIf="articlesFound.results?.length > 0">
              <div class="col-md-12" style="text-align:right">
                Total article found : {{articlesFound.totalItems}}
              </div>                        
              <div class="row">
                <div class="col-md-12">
                  <pagination [totalItems]="articlesFound.totalItems" [maxSize]="pageSize" [(ngModel)]="currentPage" [rotate]="rotate" (pageChanged)="pageChanged($event)"></pagination>                  
                </div>
              </div>            
            </div>                                     
            <div class="infinite-container" style="margin-top: 10%;" *ngIf="articlesFound.results?.length == 0">
              <div class="col-md-12" *ngIf="isVisible">
                <h3 style="text-align:center">No Articles found!</h3>
              </div>
            </div>
          </div>                                     
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>


<app-ArticleDetails #searchModalContainer></app-ArticleDetails>