<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<div bsModal #editToneModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Tonality</h5>
        <button type="button" class="close" (click)="editToneModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">        
        <div class='row'>
          <div class='col-md-2'>
            <p>Tone</p>
          </div>
          <div class="col-md-10">
            <select id="toneSelect" name="toneSelect" class="form-control form-control-sm"  [(ngModel)]="toneModel">                
              <option value="0">Neutral</option>
              <option value="1">Positive</option>
              <option value="-1">Negative</option>
            </select>
          </div>
        </div>
      </div>        
      <div class="modal-footer">    
        <button type="button" class="btn btn-primary" (click)="doUpdateTone();">Save</button>
        <button type="button" class="btn btn-secondary" (click)="editToneModal.hide()">Cancel</button>        
      </div>
    </div>
  </div>
</div>
<div class="animated fadeIn">
  <div *ngFor="let alert of alerts">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
  </div>
  <div class="row">
    <!-- charts card -->
    <div class="col-12 col-md-9 col-sm-9">
      <div class="card">
        <div class="card-header">
          <h6>CHART</h6>
        </div>
        <div class="card-body">
          <div style="margin-top: 20%;" *ngIf="loader">
            <h5 class="text-center" >{{contentmaps}}</h5>
        </div>
        <div class="col-sm-2 d-none d-md-block">
          <button type="button" class="btn btn-primary"><i class="fa fa-file-excel-o fa-lg" (click)="xlsHandler()"></i></button>
        </div>
          <div id="chartdiv"></div>
        </div>
      </div>
    </div>
    <!-- end of charts card -->

    <!-- mini card -->
    <div class="col-md-3 col-sm-3">
      <div class="card">
        <div class="card-header">
          <h6>Influencer Statistic</h6>
        </div>
        <div class="card-body">
          <div class="card text-white bg-primary" *ngFor="let opt of influencerOpt">
            <div class="card-body p-2">
              <div class="text-value">{{opt.count.all}}</div>
              <div>{{ opt.influencer_name}}</div>
            </div>
            <!-- <div class="chart-wrapper mt-3 mx-3" style="height:70px;"></div> -->
          </div>
        </div>
      </div>
    </div>
    <!-- end of mini card -->
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="animated fadeIn">

            <div class="animated fadeIn">
              <!-- <div class="row">
                <div class="col-sm-6 col-lg-3" *ngFor="let opt of influencerOpt">
                  <div class="card text-white bg-primary">
                    <div class="card-body pb-0">
                      <div class="text-value">{{ opt.total }}</div>
                      <div>{{ opt.influencer_person }}</div>
                    </div>
                    <div class="chart-wrapper mt-3 mx-3" style="height:70px;"></div>
                  </div>
                </div>
              </div> -->
              <div>
                <div style="display: block">
                  <div class="table-responsive" style="overflow-x: hidden;">
                    <table class="table table-bordered table-sm">
                      <thead>
                        <tr class="d-flex">
                          <th style="width: 10%">Date</th>
                          <th style="width: 20%">Media</th>
                          <th style="width: 20%">Spokesperson</th>
                          <th style="width: 40%">Quotes</th>
                          <th style="width: 10%">Tone</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let client of influencerQuotes" class="d-flex">
                          <td style="width: 10%">
                            {{ client.datee }}
                          </td>
                          <td style="width: 20%">
                            {{ client.media }}
                          </td>
                          <td style="width: 20%">
                            {{ client.influencer_name }}
                          </td>
                          <td style="width: 40%">
                            {{ client.quotes}}
                          </td>
                          <td style="width: 10%">
                            {{ client.tone==1?'Positive':(client.tone == 0?'Neutral':'Negative') }} 
                            <div>
                              <p><i style="color: black;" class="fa fa-pencil-square-o" (click)=editTonemodals(client.article_id,client.category_id,client.tone,client.influencer_name)></i></p> <p><i class="fa fa-check-circle fa-lg mt-4" style="color:rgb(89, 168, 16);" *ngIf="client.flags != null"></i></p>
                            </div>
                          </td>
                        </tr>
                        <tr *ngIf="influencerQuotes?.length == 0">
                          <td colspan="7" class="no-data-available">
                            No data!
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="col-md-12" style="text-align:right">                
                      Total article found : {{influencerQuotesrecords}}
                    </div>  
                    <pagination [totalItems]="influencerQuotesrecords" [maxSize]="pageSize"
                      [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>