<div class="limiter" style="overflow: hidden;">
	<div id="cover-bg">
		<div class="row">
			<div class="col-sm-12 col-md-8" id="login-left">
				<div class="mr-auto my-3 ml-3" id="logo-mini">
					<img  [src]="imagelogin" class="img-rounded" alt="Digivla Logo" style="width: 130px;" />
				</div>
				<div class="container-login100 pt-0 text-center">
					<div class="jumbotron bg-transparent">
						<h1 id="title" class="mb-2 display-4 font-weight-bold text-uppercase">Conventional Media Dashboard
							Monitoring</h1>
						<hr class="my-4">
						<h3 class="text-capitalize text-white">the best way to navigate through news is to give up all of your
							controls</h3>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-4 ">
				<div class="container-login100" style="background-color: rgb(50, 82, 123);">
					<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
						<form class="login100-form validate-form">

							<span class="login100-form-title p-b-49">
								<img [src]="imagelogin" class="img-rounded" alt="Digivla Logo"
									style="height: 150px;" />
							</span>

							<div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
								<span class="label-input100">Username</span>
								<input class="input100" type="text" name="username" placeholder="Type your username"
									[(ngModel)]="ModelEmail">
								<span class="focus-input100" data-symbol="&#xf206;"></span>
							</div>

							<div class="wrap-input100 validate-input" data-validate="Password is required">
								<span class="label-input100">Password</span>
								<input class="input100" type="password" name="pass" placeholder="Type your password"
									[(ngModel)]="ModelPassword">
								<span class="focus-input100" data-symbol="&#xf190;"></span>
							</div>


							<div class="container-login100-form-btn mt-3">
								<div class="wrap-login100-form-btn">
									<div class="login100-form-bgbtn"></div>
									<button type="button" class="login100-form-btn" (click)="login()">
										Login
									</button>
								</div>
								<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }">
								</ngx-loading>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div bsModal #popUpHandlerLogin="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-sm " role="document">
		<div class="modal-body bg-white text-center">
			<p style="color: black;">{{msgerr}}
			</p>
			<!-- <button type="button" class="btn btn-default" (click)="doUpdateCompany()" >Yes</button> -->
			<button type="button" class="btn btn-primary w-100" (click)="popUpHandlerLogin.hide()">OK</button>
			<!--add ahmadk-->
		</div>
	</div>
</div>