<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body" style="min-height: 60vh;">
          <div style="margin-top: 15%;" *ngIf="loadermaps">
              <h5 class="text-center">{{contentmaps}}</h5>
          </div>
          <div [chart]="mapChart" style="margin-top: 2%;" *ngIf="showmaps"></div>
        </div>
      </div>
    </div>
  </div>  
</div>
<app-ArticlesModule #articlesContainer></app-ArticlesModule>