<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div *ngFor="let alert of alerts">
            <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
          </div>    
          <!-- <p class="text-center">New Message</p> -->
          <form>
            <div class="form-row mb-3">
              <label for="to" class="col-2 col-form-label">Headline:</label>
              <div class="col-md-10 col-form-label">
                <input type="text" class="form-control" name="headline" placeholder="Type headline" [(ngModel)]="headlineModel">
              </div>
            </div>
            <div class="form-row mb-3">
              <label for="cc" class="col-2 col-form-label">Subline:</label>
              <div class="col-md-10 col-form-label">
                <input type="text" class="form-control" name="subline" placeholder="Type subline" [(ngModel)]="sublineModel">
              </div>
            </div>  
            <div class="form-row mb-3">
              <label class="col-md-2 col-form-label" for="inline-radios">Editorial Desk</label>
              <div class="col-md-10 col-form-label">
                <div class="form-check form-check-inline mr-1" id="inline-radios">
                  <input class="form-check-input" type="radio" name="inline-radios" id="inlineRadio1" value="National" [(ngModel)]="editorialModel">
                  <label class="form-check-label" for="inlineRadio1">National</label>
                </div>
                <div class="form-check form-check-inline mr-1">
                  <input class="form-check-input" type="radio" name="inline-radios" id="inlineRadio2" value="Business" [(ngModel)]="editorialModel">
                  <label class="form-check-label" for="inlineRadio2">Business</label>
                </div>
                <div class="form-check form-check-inline mr-1">
                  <input class="form-check-input" type="radio" name="inline-radios" id="inlineRadio3" value="Legal" [(ngModel)]="editorialModel">
                  <label class="form-check-label" for="inlineRadio3">Legal</label>
                </div>
              </div>
            </div>   
            <div class="form-row mb-3">
              <label for="to" class="col-2 col-form-label">Media:</label>
              <div class="col-md-10 col-form-label" style="height:150px;overflow-x: hidden;">
                <table class="table table-bordered table-striped table-sm" >                  
                  <tbody>              
                    <tr *ngFor="let details of jornalistList.results">
                      <td><input type="checkbox" name="cbSelected" [(ngModel)]="details.chosen" (ngModelChange)="onCheckedChange(details,index)"/></td>
                      <td>{{ details.media_name}}</td>		  
                    </tr>
                    <tr *ngIf="jornalistList.results?.length == 0">
                      <td colspan="2" class="no-data-available">No data!</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>                         
          </form>
          <div class="row">
            <div class="col-sm-10 ml-auto">
              <app-ngx-editor [placeholder]="'Enter text here...'" [config]="editorConfig" [spellcheck]="true" [(ngModel)]="htmlContent"></app-ngx-editor>            
            </div>
          </div>
          <div class="row">
            <div class="col-sm-10 ml-auto">
              <label class="image-upload-container btn btn-bwm">                
                <input #imageInput
                       type="file"
                       accept="image/*"
                       (change)="processFile(imageInput)">
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-10 ml-auto">
              <table class="table table-bordered table-striped table-sm" >                  
                <tbody>              
                  <tr *ngFor="let details of fileArray">
                    <td>{{ details.filename}}</td>		  
                  </tr>
                  <tr *ngIf="fileArray?.length == 0">
                    <td colspan="1" class="no-data-available">No file chosen!</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <br>
          <div class="col-12" style="text-align:end" >                
            <button type="submit" class="btn btn-success col-md-2" (click)="sendHandler()">Send</button>              
          </div>
        </div>
      </div>
    </div>
  </div>
</div>