<div class="animated fadeIn">
  <div *ngFor="let alert of alerts">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
  </div>
  <carousel [interval]="myInterval">
    <div>
      <slide>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-9">
              </div>
              <div class="col-sm-1 d-none d-md-block">
                <button type="button" class="btn btn-primary"><i class="fa fa-file-powerpoint-o fa-lg" (click)="pptHandler()"></i></button>
              </div>
              <div class="col-sm-2 d-none d-md-block">
                <button type="button" class="btn btn-primary"><i class="fa fa-file-excel-o fa-lg" (click)="xlsHandler()"></i></button>
              </div>
            </div>
            <div id="mediaVisibility" class="wrapper">
              <div [chart]="mediaVisibilityChart" id="mediaVisibilitySel"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="card">
                      <div class="card-body">
                        <div class="wrapper">
                          <div [chart]="summaryPieChart" id="summaryPieChartSel"></div>
                        </div>
                      </div>
                    </div>
                  </div>                  
                  <div class="col-sm-6">
                    <div class="card">
                      <div class="card-header">
                        Trending Highlights
                      </div>
                      <div class="card-body" style="height:314px;overflow-y:scroll;">
                        <ul>
                          <li *ngFor="let article of trendingHighlightList">
                            <button class="btn btn-block btn-link" type="button" style="word-wrap:break-word;text-align: justify;"
                              (click)="showSearchModal(article)">
                              {{article.title}}
                            </button>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>                 
                </div>
                <!--/.row-->
                <br>
              </div>
            </div>
          </div>
          <!--/.col-->
        </div>
        <!--/.row-->
      </slide>
      <slide>
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-9">
                  </div>
                  <div class="col-sm-1 d-none d-md-block">
                    <button type="button" class="btn btn-primary"><i class="fa fa-file-powerpoint-o fa-lg" (click)="pptHandler()"></i></button>
                  </div>
                  <div class="col-sm-2 d-none d-md-block">
                    <button type="button" class="btn btn-primary"><i class="fa fa-file-excel-o fa-lg" (click)="xlsHandler()"></i></button>
                  </div>
                </div>
                <div class="chart-wrapper">
                  <div [chart]="CoverageTonalityChart" id="CoverageTonalityChartSel"></div>
                </div>
              </div>
            </div> <!-- card -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="card"  style="height: 505px">
                      <div class="card-header">
                        Tone by Media Selection
                      </div>
                      <div class="card-body">
                        <div class="wrapper">
                          <div [chart]="toneByMedia" id="toneByMediaSel"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--/.col-->
                  <div class="col-sm-6">
                    <div class="card">
                      <div class="card-header">
                        Tone by Category
                      </div>
                      <div class="card-body" style="overflow-x:scroll">
                        <div class="container" style="width: 1000px">
                          <div [chart]="toneByCategoryChart" id="toneByCategoryChartSel"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--/.col-->
                </div>
                <!--/.row-->
                <br>
              </div>
            </div>
          </div>
          <!--/.col-->
        </div>
        <!--/.row-->
      </slide>
      <slide>
        <div class="card">
          <div class="card-body">
              <div class="row">
                <div class="col-sm-9">
                </div>
                <div class="col-sm-1 d-none d-md-block">
                  <button type="button" class="btn btn-primary"><i class="fa fa-file-powerpoint-o fa-lg" (click)="pptHandler()"></i></button>
                </div>
                <div class="col-sm-2 d-none d-md-block">
                  <button type="button" class="btn btn-primary"><i class="fa fa-file-excel-o fa-lg" (click)="xlsHandler()"></i></button>
                </div>
              </div>    
            <div class="chart-wrapper">
              <div [chart]="EWSChart" id="ewsSel"></div>
            </div>
          </div>
        </div>
      </slide>
    </div>
  </carousel>
  <div id='hidenDiv' style="overflow: hidden; height: 0;">
    <div [chart]="mediaVisibilityhidden" id="mediaVisibilityhidden"></div>
    <div [chart]="summaryPiehidden" id="summaryPiehidden"></div>
    <div [chart]="CoverageTonalityhidden" id="CoverageTonalityhidden"></div>
    <div [chart]="toneByMediahidden" id="toneByMediahidden"></div>
    <div [chart]="toneByCategoryhidden" id="toneByCategoryhidden"></div>    
    <div [chart]="ewsHidden" id="ewsHidden"></div>    
  </div>
</div>

<div bsModal #showArticlesModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p *ngIf="dateAxis == 'parent' && ToneChart == false">Articles ( Category : {{subCategory}} )</p>
        <p *ngIf="dateAxis != 'parent' && ToneChart == false">Articles ( Date : {{dateAxis}}, Category : {{subCategory}} )</p>
        <p *ngIf="dateAxis != 'parent' && media_id == 'parent' && ToneChart == true">Articles ( Date : {{dateAxis}}, Tone : {{tone}} )</p>
        <p *ngIf="dateAxis == 'parent' && media_id == 'parent' && ToneChart == true">Articles ( Category : {{subCategory}}, Tone : {{tone}} )</p>
        <p *ngIf="dateAxis == 'parent' && media_id != 'parent' && ToneChart == true">Articles ( Media : {{media_name}}, Tone : {{tone}} )</p>
        <button type="button" class="close" (click)="showArticlesModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="container article" *ngIf="articlesList.data?.length > 0" style="overflow-y:scroll;height:400px;overflow-x: hidden;">
            <div class="col-md-12" *ngFor="let article of articlesList.data">
              <button class="btn btn-block btn-link" type="button" style="word-wrap:break-word;text-align: justify;"
                (click)="showSearchModal(article)">
                <h4>{{article.title}}</h4>
              </button>
              <div class="col-md-12" style="text-align:justify;">
                {{article.content | slice:0:150}}
                <p>
                  <small>{{article.media_name}} / {{article.datee | date: 'dd-MMMM-yyyy'}}</small>
                </p>
              </div>
              <hr>
            </div>
          </div>
          <div *ngIf="articlesList.data?.length > 0">
            <div class="col-md-12" style="text-align:right">
              Total article found : {{articlesList.recordsTotal}}
            </div>
            <div class="row">
              <div class="col-md-12">
                <pagination [totalItems]="articlesList.recordsTotal" [rotate]="rotate" [maxSize]="pageSize" [(ngModel)]="currentPage"
                  (pageChanged)="pageChanged($event)"></pagination>
              </div>
            </div>
          </div>
          <div class="infinite-container" style="margin-top: 10%;" *ngIf="articlesList.data?.length == 0">
            <div class="col-md-12">
              <h3 style="text-align:center">No Articles found!</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-ArticleDetails #searchModalContainer></app-ArticleDetails>