.wrapper {
  // width: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  overflow: hidden;
  height: 320px;
}
.wrapper > div {
  flex-grow: 1;
  flex-basis: 25%;
  /*width:18%;*/
}
.wrapper div {
    overflow: hidden;
}

.bottom-wrapper {
  // width: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  overflow: hidden;
  height: 300px;
}
.bottom-wrapper > div {
  flex-grow: 1;
  flex-basis: 25%;
  /*width:18%;*/
}
.bottom-wrapper div {
    overflow: hidden;
}

::ng-deep .carousel-control-prev, ::ng-deep .carousel-control-next {
  width: 50px;
  // background-color: white;
}
::ng-deep .carousel .carousel-control-prev-icon, ::ng-deep .carousel .carousel-control-next-icon {
  background-color: #000;
  width: 50px;
  height: 50px;
  background-size: 41%;
  border-radius: 50%;
}

::ng-deep {
  .highcharts-container,
  .highcharts-container svg {
     width: 100% !important;
     height: 100% !important;
  }
}

.hiddenChart {
  display: none;
}

.btn {
  white-space: normal;
}