<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div *ngFor="let alert of alerts">
              <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
            </div>
            <div class="row align-items-center mt-12">
              <div class="col col-md-3">
                <input type="text" class="form-control form-control-sm" placeholder="Search.." name="searchInput"
                [(ngModel)]="searchModel">
              </div>
              <div class="col col-lg-2">
                <button type="button" class="btn btn-primary px-4" (click)="clickSearch()">Search</button>
              </div>
              <div class="col col-md-2 offset-md-3">
                  <input type="checkbox" name="checkBoxAllArticle" [(ngModel)]="checkedAllModel" (ngModelChange)="onCheckedAllChange(editingList.data)"/> Check All
              </div>
            </div>
            <br>
            <div class="row align-items-center" *ngIf="deleteShow" >
              <div class="col col-md-2">
                <button type="button" class="btn btn-danger px-4" (click)="openModal(template)">Delete</button>
              </div>
              <div class="col col-md-2">
                  <button type="button" class="btn btn-outline-primary px-4" (click)="scanHandler()"><i class="fa fa-file-photo-o"> Scan Media</i></button>
              </div>
              <div class="col col-md-2">
                  <button type="button" class="btn btn-outline-primary px-4" (click)="textHandler()"><i class="fa fa-newspaper-o"> Print Text</i></button>
              </div>
              <div class="col col-md-2">
                  <button type="button" class="btn btn-outline-primary px-4"  (click)="DocHandler()"><i class="fa fa-file-word-o"> Word Doc</i></button>
              </div>
              <div class="col col-md-2">
                  <button type="button" class="btn btn-outline-primary px-4" (click)="emailHandler()"><i class="fa fa-envelope-o"> Email</i></button>
              </div>
              <div class="col col-md-2" *ngIf="request">
                <button type="button" class="btn btn-outline-primary px-4" (click)="translateHandler()"><i class="fa fa-envelope-o"> Request Translate</i></button>
            </div>
            </div>
            <br>
            <div class="col col-md-2 offset-md-10">
              <select id="periodSelect" name="periodSelect" class="form-control form-control-sm" (change)="onSizeChange()"  [(ngModel)]="pageSize" style="width: 120px;">
                <option value=10>10</option>
                <option value=25>25</option>
                <option value=50>50</option>
                <option value=100>100</option>
                <option value=500>500</option>
                <option value=1000>1000</option>
              </select>
            </div>
            <br>
            <div class="table-responsive" style="overflow-x: hidden;">
              <table class="table table-bordered table-striped table-sm">
                <thead>
                  <tr class="d-flex">
                    <th style="width: 5%" ></th>
                    <th style="width: 15%">Date <i class="fa fa-sort" (click)="sortingHandler('datee')"></i></th>
                    <th style="width: 20%">Media</th>
                    <th style="width: 10%">Page</th>
                    <th style="width: 50%">Title <i class="fa fa-sort" (click)="sortingHandler('title')"></i></th>
                    </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let client of editingList.data" class="d-flex">
                    <td style="width: 5%" ><input type="checkbox" name="checkBoxDelete" [(ngModel)]="client.checked" (ngModelChange)="onCheckedChange(client,index)"/></td>
                    <!-- <td style="width: 15%">{{ client.datee | date: 'dd-MM-yyyy hh:mm'}}</td> -->
                    <td style="width: 15%">{{ client.datee}}</td>
                    <td style="width: 20%">{{ client.media_name }}</td>
                    <td style="width: 10%">
                      <div *ngIf="client.page==1">
                        <a href="{{client.file_pdf}}" target="blank">Link</a>
                      </div>
                      <div *ngIf="client.page!=1">
                          {{client.page}}
                      </div>
                    </td>
                    <td style="width: 50%">
                      <button class="btn btn-block btn-link" type="button" (click)="showSearchModal(client)" style="word-wrap:break-word;text-align: justify;">
                          {{client.title}}
                      </button>
                    </td>
                  </tr>
                  <tr *ngIf="editingList.data?.length == 0">
                    <td colspan="7" class="no-data-available">No data!</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <br>
            <div *ngIf="editingList.data?.length > 0">
              <div class="col-md-12" style="text-align:right">
                Total article found : {{editingList.recordsTotal}}
              </div>
              <div class="row">
                <div class="col-md-12">
                    <pagination [totalItems]="editingList.recordsTotal" [rotate]="rotate" [itemsPerPage]="pageSize" [maxSize]="6" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #template>
    <div class="modal-body text-center">
      <p>Are you sure you want to delete this article?
      </p>
      <button type="button" class="btn btn-default" (click)="doDeleteArticle()" >Yes</button>
      <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
    </div>
  </ng-template>
  <app-ArticleDetails #searchModalContainer></app-ArticleDetails>

  <div bsModal #pushEmailModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Push Email</h5>
          <button type="button" class="close" (click)="pushEmailModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">        
          <div class='row'>             
            <div class="col-sm-12">
              <p>Input your email</p>
              <p>Jika email yang akan dikirim lebih dari 1 maka gunakan koma (,) sebagai pemisah email. Cth: abc@mail.com,def@mail.com</p>                                     
              <textarea id="textarea-input" name="textarea-input" rows="5" class="form-control" [(ngModel)]="emailModal" placeholder="Email.."></textarea>
            </div>
          </div>
        </div>        
        <div class="modal-footer">    
          <button type="button" class="btn btn-primary" (click)="doPushEmail();">Send Email</button>
          <button type="button" class="btn btn-secondary" (click)="pushEmailModal.hide()">Cancel</button>        
        </div>
      </div>
    </div>
  </div>
  <div bsModal #pushrequestlModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Request Translate</h5>
          <button type="button" class="close" (click)="closemodalrequest()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">        
          <div class='row'>             
            <div class="col-sm-12">
              <div class="row">
                <div class="col-4">
                  <p>TO (*)</p>
                </div>
                <div class="col-8">
                  <textarea id="textarea-input" name="textarea-input" rows="2" class="form-control" [(ngModel)]="emailModal" placeholder="Email.."></textarea>
                </div>
              </div>
            </div>
            <div class="col-sm-12 mt-2">
              <div class="row">
                <div class="col-4">
                  <p style="font-size: 9pt;">Body Email (optional)</p>
                </div>
                <div class="col-8">
                  <input type="text" class="form-control" placeholder="body email ..." [(ngModel)]="bodyemailModal">
                </div>
              </div>
            </div>
          </div>
        </div>        
        <div class="modal-footer">    
          <button type="button" class="btn btn-primary" (click)="doPushRequest();">Send</button>
          <button type="button" class="btn btn-secondary" (click)="closemodalrequest()">Cancel</button>        
        </div>
      </div>
    </div>
  </div>