.borderless td, .borderless th {
    border: none;
}
mark, .mark {
    padding: 0.2em;
    background-color: #b7e709;
}

a.link {
    text-decoration: none;
    color: white;
}
p{
    color: #666666 !important;
}