// Here you can add other styles
.app-body {
    .sidebar {
        background-color: rgb(50, 82, 123);
        box-shadow: 2px 0px 6px 2px rgba(26, 53, 87, 0.32);
    }
}

.nav {
    .nav-item {
        .nav-link>.nav-icon {
            color: #fff;
            font-weight: 500;
        }

        .nav-link.active {
            color: #fff;
            background: rgba(35, 56, 86, 0.651);

            .nav-icon {
                color: #fff;
                // color: 
            }
        }
    }
}


@media (min-width: 992px) {

    html:not([dir="rtl"]) .aside-menu-show.aside-menu-fixed .main,
    html:not([dir="rtl"]) .aside-menu-show.aside-menu-fixed .app-footer,
    html:not([dir="rtl"]) .aside-menu-lg-show.aside-menu-fixed .main,
    html:not([dir="rtl"]) .aside-menu-lg-show.aside-menu-fixed .app-footer {
        margin-right: 230px;
    }
}

.app-header {
    min-height: 75px;
}

.sidebar .nav {
    // top: 4px;
    z-index: 1020;
    padding-top: 10%;
}

.sidebar-minimized .sidebar .sidebar-nav {
    margin-top: 11px;
}

.breadcrumb {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 0.78rem;
    margin-bottom: 1.5rem;
    list-style: none;
    background-color: rgb(50, 82, 123);
    border-radius: 0;

    // top: 4%;
    .breadcrumb-item {
        a {
            color: #fff;
        }
    }

    .breadcrumb-item.active {
        font-weight: 500;
        color: #fff;
        text-decoration: none;
        text-transform: capitalize;
    }
}

img.navbar-brand-full {
    background-size: cover;
    width: auto;
    height: 65px;
    //     margin: 2%;
}

.app-body .main {
    margin-top: 1.2rem;
}

.aside-menu {
    margin-top: 1rem;
    overflow: hidden;
    background-color: rgb(50, 82, 123);
    box-shadow: 0px 2px 6px 2px rgba(26, 53, 87, 0.32);


    .nav-tabs {
        border: none;

        #filter-title {
            box-shadow: 0px 6px 6px 2px rgba(17, 47, 83, 0.747);
        }

        .nav-item {
            // padding: 2px;
            margin-bottom: 0;
            width: 100vh;
        }
    }

    .tab-content {
        overflow: hidden;
        border-top: none;
        background-color: rgb(50, 82, 123);

        .list-group {
            margin-top: 1rem;

            #filter-content {
                background-color: transparent;
            }
        }

        .list-group-item {
            background-color: rgba(26, 53, 87, 0.32);
            color: #fff;
        }
    }
}

@media (max-width: 992px) {
    .app-header {
        height: 90px;
    }

    .app-body .main {
        margin-top: 2rem;
    }

    .app-header .navbar-brand {
        position: fixed;
        top: 2%;
        height: 50px;
        margin-left: -77.5px;
    }

    .aside-content {
        padding-top: 2rem;
    }

    .aside-menu-fixed .app-header+.app-body .aside-menu {
        height: calc(100vh - 55px);
        margin-top: 1rem;
        // overflow: auto;
    }

    appasidemenutoggler {
        display: none;
    }
}

@media (max-width: 575.98px) {

    .sidebar-show .main::before,
    .aside-menu-show .main::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1018;
        width: 100%;
        height: 100%;
        content: "";
        /* background: rgba(0, 0, 0, 0.7); */
        -webkit-animation: opacity 0.25s;
        animation: opacity 0.25s;
        // overflow: auto;
    }
}


.app-header .navbar-toggler-icon.filter {
    height: 23px;
    background-image: url("../assets/img/filter.jpeg") !important;
}
